{% extends "focus/base.html" %}

{% block title %}Evaluation page{% endblock %}
{% block head %}<link rel="stylesheet" href="https://snipp.ru/cdn/select2/4.0.13/dist/css/select2.min.css">
{% endblock %}
{% block content %}


<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1>ЦПР</h1>

        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="focus_forms">

              <form id="stripe-login" method="post">
                {% csrf_token %}
                <ol>

                  
                  <li>
                    <p>
                      <label for="id_subject">Цель:</label>
                      {{ pdg_form.pdg_goal }}
                    </p>
                  </li>
                  <li>
                    <p>
                      <label for="id_schoolyear">Год обучения:</label>
                      {{ pdg_form.schoolyear }}
                    </p>
                  </li>
                  <li>
                    <p>
                      <label for="id_pdg">Полугодие:</label>
                      {{ pdg_form.halfyear }}
                       
                    </p>
                  </li>

                  <script>
                    {% if messages %}
                      {% for message in messages %}
                        alert('{{message}}')
                      {% endfor %}
                    {% endif %}
                    </script>
                    <input type="submit" name="send" value="Добавить" class="btn btn-primary mb-3">
                  
                  </ol>


                
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>








{% endblock %}