{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    
    
    <link rel="stylesheet" href="{% static 'focus/css/style.css'%}" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header-logo">
                    <a href="{%url 'index'%}"><img class="header__image" src="{% static 'focus/img/logo.jpg'%}" alt="" href="{%url 'index'%}"></a>
                <div class="header-title">
                    <a href="{%url 'index'%}" >SchoolFocus</a>
                </div>
                
                </div>
                
                <nav class="nav">
                    <a href="{%url 'index'%}" class="nav__link">Главная</a>
                    <a href="{%url 'admin_panel'%}" class="nav__link">Панель Админа</a>
                    <div class="dropdown">
                        <div class="dropbtn ">Наблюдение
                          <i class="fa fa-caret-down"></i>
                        </div>
                        <div class="dropdown-content">
                          <a href="{%url 'focusplan1'%}">Форма Планирования</a>
                            <a href="{%url 'focusteach1'%}">Форма Преподавания</a>
                            <a href="{%url 'focusevaluation1'%}">Форма Оценивания</a>
                            <a href="{%url 'focuscomplex1'%}">Форма Комплексного анализа</a>
                          <a href="{%url 'observer_evaluation'%}">Мои оценивания</a>
                          <a href="{%url 'teacher_evaluation'%}">Мои работы</a>
                        </div>
                    </div>


                    {% if user.is_authenticated %}
                    <a href="{%url 'userinfo'%}" class="nav__link">Пользователь</a>
                    <a href="{%url 'logout'%}" class="nav__link">Log out</a>
                    {% else %}
                    <a href="{%url 'register'%}" class="nav__link">Регистрация</a>
                    <a href="{%url 'user_login'%}" class="nav__link">Log in</a>
                    {% endif %}
                </nav>
            </div>
    
        </div>
    </header>



    {% block content %}{% endblock %}
</body>
</html>