{% extends "focus/base.html" %}

{% block title %}Комплексный анализ{% endblock %}
{% block head %}<link rel="stylesheet" href="https://snipp.ru/cdn/select2/4.0.13/dist/css/select2.min.css">
{% endblock %}
{% block content %}


<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1>Комплексный анализ</h1>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="focus_forms">
              
              <form id="stripe-login" method="post">
                {% csrf_token %}
                <ol>
                  <li>
                    <p>
                      <label for="id_user_teacher">Учитель:</label>

                        <select class="js-select2" name="user_teacher" id="id_user_teacher">
                          <option value=""></option>
                          {% for item in user_list%}
                            <option value="{{item.id}}">{{item}}</option>
                          {% endfor %}
                        </select>

                    </p>
                  </li>
                  <li>
                    <p>
                      <label for="id_subject">Предмет:</label>
                      {{ focuscomplex1_form.subject }}
                    </p>
                  </li>
                  <li>
                    <p>
                      <label for="id_schoolyear">Год обучения:</label>
                      {{ focuscomplex1_form.schoolyear }}
                    </p>
                  </li>
                  <li>
                    <p>
                      <label for="id_pdg">Цель:</label>
                      {{ focuscomplex1_form.pdg }}
                    </p>
                  </li>
                  <li>
                    <p>
                      <label for="id_classes">Класс:</label>
                      {{ focuscomplex1_form.classes }}
                    </p>
                  </li>

                  <li>
                    <p>
                      <label for="id_fc1_lessontopic">Тема урока:</label>
                      {{ focuscomplex1_form.fc1_lessontopic }}
                    </p>
                  </li>
                  <li>
                    <p>
                      <label for="id_fс1_item1">Представлен план:</label>
                      {{ focuscomplex1_form.fc1_item1}}
                    </p>
                  </li>
                  <li>
                    <p>
                        
                        <div class="comment_field">
                          <div class="comment_label">
                            Цели обучения соответствуют месту и роли урока в структуре раздела, темы </div>
                          <div class="comment_value">
                            {{ focuscomplex1_form.fc1_item2 }}
                          </div>
                          
                        </div>
                          {{ focuscomplex1_form.fc1_item2_comm }}
                    </p>
                  </li>
                  <li>
                    <p>
                      
                      <div class="comment_field">
                        <div class="comment_label">
                          Учитель обсуждает с учащимися цели обучения и ожидаемые результаты урока </div>
                        <div class="comment_value">
                          {{ focuscomplex1_form.fc1_item3 }}
                        </div>
                        
                      </div>
                        {{ focuscomplex1_form.fc1_item3_comm }}
                    </p>
                  </li>
                  <li>
                    <p>
                      
                      <div class="comment_field">
                        <div class="comment_label">
                          Учитель соблюдает структуру урока в соответствии с планом (при необходимости корректирует план урока, не нарушая логической последовательности этапов урока) </div>
                        <div class="comment_value">
                          {{ focuscomplex1_form.fc1_item4 }}
                        </div>
                        
                      </div>
                        {{ focuscomplex1_form.fc1_item4_comm }}
                    </p>
                  </li>

                  <li>
                    <p>
                        <label for="id_fc1_item5">При организации изучения учебного материала учитель реализует:</label>
                        {{ focuscomplex1_form.fc1_item5 }}
                    </p>
                  </li>

                  <li>
                    <p>
                      
                      <div class="comment_field">
                        <div class="comment_label">
                          Учитель использует приемы обучения, способствующие достижению целей обучения </div>
                        <div class="comment_value">
                          {{ focuscomplex1_form.fc1_item6 }}
                        </div>
                        
                      </div>
                        {{ focuscomplex1_form.fc1_item6_comm }}
                    </p>
                  </li>

                  <li>
                    <p>
                      <label for="id_fc1_item7">Учитель использует ресурсы, направленные на:</label>
                        {{ focuscomplex1_form.fc1_item7 }}
                    </p>
                  </li>

                    <li>
                    <p>
                      
                      <div class="comment_field">
                        <div class="comment_label">
                          Учитель отслеживает вовлеченность каждого учащегося </div>
                        <div class="comment_value">
                          {{ focuscomplex1_form.fc1_item8 }}
                        </div>
                        
                      </div>
                        {{ focuscomplex1_form.fc1_item8_comm }}
                    </p>
                  </li>
                    <li>
                    <p>
                      
                      <div class="comment_field">
                        <div class="comment_label">
                          Учитель предлагает учащимся критерии и дескрипторы оценивания в соответствии с целями обучения </div>
                        <div class="comment_value">
                          {{ focuscomplex1_form.fc1_item9 }}
                        </div>
                        
                      </div>
                        {{ focuscomplex1_form.fc1_item9_comm }}
                    </p>
                  </li>
                    <li>
                    <p>
                      
                      <div class="comment_field">
                        <div class="comment_label">
                          Учитель поддерживает обучение учащихся соответствующими приемами формативного оценивания </div>
                        <div class="comment_value">
                          {{ focuscomplex1_form.fc1_item10 }}
                        </div>
                        
                      </div>
                        {{ focuscomplex1_form.fc1_item10_comm }}
                    </p>
                  </li>
                    <li>
                    <p>
                     
                      <div class="comment_field">
                        <div class="comment_label">
                          Учитель предоставляет конструктивную обратную связь учащимся </div>
                        <div class="comment_value">
                          {{ focuscomplex1_form.fc1_item11 }}
                        </div>
                        
                      </div>
                        {{ focuscomplex1_form.fc1_item11_comm }}
                    </p>
                  </li>
                    <li>
                    <p>
                     
                      <div class="comment_field">
                        <div class="comment_label">
                          Учитель использует результаты формативного оценивания для планирования уроков </div>
                        <div class="comment_value">
                          {{ focuscomplex1_form.fc1_item12 }}
                        </div>
                        
                      </div>
                        {{ focuscomplex1_form.fc1_item12_comm }}
                    </p>
                  </li>


                  <li>
                    <p>
                      <label for="id_fc1_review">Краткий отзыв о наблюдении урока:</label>
                      {{ focuscomplex1_form.fc1_review }}
                    </p>
                  </li>

                  <li>
                    <p>
                      <label for="id_fc1_review_pdg">Краткий отзыв о продвижении учителя к достижению цели профессионального развития на учебный год:</label>
                      {{ focuscomplex1_form.fc1_review_pdg }}
                    </p>
                  </li>
                  <script>
                    {% if messages %}
                      {% for message in messages %}
                        alert('{{message}}')
                      {% endfor %}
                    {% endif %}
                    </script>
    
    
                    <input type="submit" value="Отправить" class="btn btn-primary mb-3">
                  </ol>


              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <link rel="stylesheet" href="https://snipp.ru/cdn/select2/4.0.13/dist/css/select2.min.css">
  <style type="text/css">
  .select_wrp {
    width: 300px;
    margin: 0 auto;
  }
  </style>
  
  <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://snipp.ru/cdn/select2/4.0.13/dist/js/select2.min.js"></script>
  <script src="https://snipp.ru/cdn/select2/4.0.13/dist/js/i18n/ru.js"></script>
  <script>
  $(document).ready(function() {
    $('.js-select2').select2({
      placeholder: "Выберите учителя",
      maximumSelectionLength: 2,
      language: "ru"
    });
  });
  document.getElementById('1').onclick = function() {
  
    for(var i in dict) {
      document.getElementById(i).value = dict[i];
    }
  
    this.blur();
  
  };
  </script>
  
  {% endblock %}