{% extends "focus/base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}


<div class="login-root">
  <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
    <div class="box-root flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
      <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1>Авторизация</h1>
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
              <form id="stripe-login" action="{% url 'user_login' %}" method="post">
                {% csrf_token %}
                <div class="field padding-bottom--24">
                  <label for="username">Логин</label>
                  <input type="username" name="username">
                </div>
                <div class="field padding-bottom--24">
                  <div class="grid--50-50">
                    <label for="password">Пароль</label>
                    <div class="reset-pass">
                      <a href="#">Забыли пароль?</a>
                    </div>
                  </div>
                  <input type="password" name="password">
                </div>
                <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
                  <label for="checkbox">
                    <input type="checkbox" name="checkbox"> Оставаться в системе
                  </label>
                </div>
                <div class="field padding-bottom--24">
                  <input type="submit" name="submit" value="Вход">
                </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="error">{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                
              </form>
            </div>
          </div>
          <div class="footer-link padding-top--24">
            <span><a class='no_accout' href="{%url 'register'%}">Нет аккаунта?</a></span>
            <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
              <span><a href="#">© berikov.e</a></span>
              <span><a href="#">Contact</a></span>
              <span><a href="#">Privacy & terms</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}