{% extends "focus/base.html" %}


{% block title %}Мои наблюдения{% endblock %}

{% block content %}
<div class="content_header">
    <h1>Таблица ваших наблюдений</h1>
</div>


<table>
    <thead>
		<tr>
			<th>Учитель</th>
			<th>Предмет</th>
			<th>Год</th>
			<th>Дата</th>
            <th>Фокус</th>
		</tr>
	</thead>
    <tbody>

    {% if focusplan1_records %}
    {% for item in focusplan1_records %}
    <tr>
        <td><a href="{%url 'report_details' id=item.id %}">{{item.user_teacher}}</a></td>
        <td>{{item.subject}}</td>
        <td>{{item.schoolyear}}</td>
        <td>{{item.fp1_date}}</td>
        <td>Планирование 1</td>
    </tr>
    {% endfor %}
    {% endif %}
    {% if focusteach1_records %}
    {% for item in focusteach1_records %}
    <tr>
        <td><a href="{%url 'report_details' id=item.id %}">{{item.user_teacher}}</a></td>
        <td>{{item.subject}}</td>
        <td>{{item.schoolyear}}</td>
        <td>{{item.ft1_date}}</td>
        <td>Преподавание 1</td>
    </tr>
    {% endfor %}
    {% endif %}
    {% if focusevaluation1_records %}
    {% for item in focusevaluation1_records %}
    <tr>
        <td><a href="{%url 'report_details' id=item.id %}">{{item.user_teacher}}</a></td>
        <td>{{item.subject}}</td>
        <td>{{item.schoolyear}}</td>
        <td>{{item.fe1_date}}</td>
        <td>Оценивание 1</td>
    </tr>
    {% endfor %}
    {% endif %}
    {% if focuscomplex1_records %}
    {% for item in focuscomplex1_records %}
    <tr>
        <td><a href="{%url 'report_details' id=item.id %}">{{item.user_teacher}}</a></td>
        <td>{{item.subject}}</td>
        <td>{{item.schoolyear}}</td>
        <td>{{item.fc1_date}}</td>
        <td>Комплексный анализ 1</td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>

{% endblock %}
