{% extends "focus/base.html" %}

{% block title %}User Info{% endblock %}

{% block content %}



<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1>User Info</h1>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <span class="padding-bottom--15">Информация о пользователе {{ user_info.username}}</span>
              <form id="stripe-login" method="post">
                {% csrf_token %}


                <label for="id_username">Username:</label>
                <input type="text" name="username" maxlength="150" required="" id="id_username" value='{{ user_info.username}}'>

                <label for="id_email">Email address:</label>
                <input type="email" name="email" maxlength="254" id="id_email" value='{{ user_info.email}}'>

                

                <label for="id_first_name">First name:</label>
                <input type="text" name="first_name" maxlength="30" id="id_first_name" value='{{ user_info.first_name}}'>

                <label for="id_last_name">Last name:</label>
                <input type="text" name="last_name" maxlength="150" id="id_last_name" value='{{ user_info.last_name}}'>

                <label for="id_user_middlename">User middlename:</label>
                <input type="text" name="user_middlename" maxlength="150"  id="id_user_middlename" value='{{ user_info.user_middlename}}'>

                <label for="id_user_level">User level:</label>
                <input type="text" name="user_level" maxlength="2"  id="id_user_level" value='{{ user_info.user_level}}'>
                <p></p>
                <input type="submit" value="Сохранить">
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

{% endblock %}