{% extends "focus/base.html" %}

{% block title %}User Info{% endblock %}

{% block content %}


<div class="userinfo">
  
    <div class="profileblock">

    <div class="options">
      <div class="options_item">Общее</div>
      <div class="options_item"><a href="{%url 'add_pdg'%}">Добавить ЦПР</a></div>
      <div class="options_item">Изменение пароля</div>
      <div class="options_item">Фотография профиля</div>
    </div>

    <div class="profile">

      <div class="profile_top">

        <div class="row">

        <div class="profile_photo">
          <img src="../../static/focus/img/profile-icon.png" alt="" class="profile_img">
        </div>

        <div class="profile_info">
          <div class="profile_info_left">
            <div class="profile_info_name">{{ user_info.last_name}} {{ user_info.first_name}}</div>
            <div class="profile_info_username">@{{ user_info.username}}</div>
            <div class="profile_info_small">В сети</div>
          </div>
          <div class="profile_info_right">
            <div class="badge">administrator</div>
            <div class="date profile_info_small">Joined 09 Dec 2017</div>
          </div>
        </div>

        </div>

      </div>

      <div class="profile_form">
        <form method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col">

                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="id_username">Логин:</label>
                          <input type="text" class="form-control" name="username" maxlength="150" required="" id="id_username" value='{{ user_info.username}}'>
                      </div>
                    </div>
                    
                    <div class="col">
                      <div class="form-group">
                        <label for="id_email">Email:</label>
                        <input type="email" class="form-control" name="email" maxlength="254" id="id_email" value='{{ user_info.email}}'>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="id_first_name">Имя:</label>
                        <input type="text" class="form-control" name="first_name" maxlength="30" id="id_first_name" value='{{ user_info.first_name}}'>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="id_last_name">Фамилия:</label>
                        <input type="text" class="form-control" name="last_name" maxlength="150" id="id_last_name" value='{{ user_info.last_name}}'>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="id_user_middlename">Отчество:</label>
                  <input type="text" class="form-control" name="user_middlename" maxlength="150"  id="id_user_middlename" value='{{ current_user.user_middlename}}'>
                      </div>
                    </div>
                
                  </div>

            </div>
          </div>
          <div class="row ">
            <div class="col btn-end">
              <button class="btn btn-primary" type="submit">
                Сохранить
              </button>
            </div>
          </div>

        </form>
      </div>


    </div>

    </div>
</div>






{% endblock %}